{% from "macros/forms.html" import render_form_field, render_form_fields %}
{%extends "base.html" %} 

{% block header -%}
  <script src="{{ url_for('static', filename='myFunctions.js') }}"></script>
{% endblock %}

{%block content%} 

<div class="container-fluid">
  <h2>Configuration panel for profile <b class="mark">{{ profile }}</b> </h2>
  <br>
  <p><strong>Note:</strong> {{section.description}}</p>
  <ul class="nav nav-pills pb-3">
      {% for item in blocks %}
      <li class="nav-item">
          {% if item==block %}
          <a class="nav-link active" href="{{ url_for('configuration.set', block=item) }}">{{ item }}</a>
          {% else %}
          <a class="nav-link" href="{{ url_for('configuration.set', block=item) }}">{{ item }}</a>
          {% endif %}
      </li>
      {% endfor %}
  </ul>

  <div class="row">
  <div class="col">
  <div class="card">
      <div class="card-header bg-primary text-white">Run configuration</div>
      <div class="card-body">
          <form method="POST">
              {{ form.hidden_tag() }}
              {% for v,keys in section.vars.items() %}
              {% if loop.changed(v[1]) %}
              {% if not loop.first %}
              <hr class="mt-5 mb-1"/>
              {{ v[1] }}
              {% endif %}
              {% endif %}
              <div class="input-group mb-3">
                  {{ render_form_fields(keys,form) }}
              </div>
              {% endfor %}
              <input type="submit" class="btn btn-primary" value='Update'>
          </form>
      </div>
  </div>
  </div>
  <div class="col">
  <div class="card">
      <div class="card-header bg-primary text-white">Preview</div>
      <div class="card-body">
          <pre><code>{{section}}</code></pre>
      </div>
  </div>
  </div>
  </div>

</div>

<p> Debug: </p>
<ul>
{% for field in form %}
<li>{{ field.data }}</li>
{% endfor %}
</ul>

{% endblock %}

{%block scripts%} 
  document.querySelector('#menu-conf .nav-link').classList.add('active');
  {% if block == "GRID" %}
  document.getElementById("f8").addEventListener( "change", function() {disablePN('f7','f8','f9'); });
  document.getElementById("f11").addEventListener("change", function() {disablePN('f10','f11','f12'); });
  document.addEventListener('DOMContentLoaded', function() {disablePN('f7','f8','f9'); });
  document.addEventListener('DOMContentLoaded', function() {disablePN('f10','f11','f12'); });
  {% elif block == "SPECIES" %}
  document.getElementById("f3").addEventListener("change", function() {disableN('f3','f4'); });
  document.getElementById("f5").addEventListener("change", function() {disableN('f5','f6'); });
  document.getElementById("f7").addEventListener("change", function() {disableN('f7','f8'); });
  document.getElementById("f9").addEventListener("change", function() {disableN('f9','f10'); });
  document.getElementById("f11").addEventListener("change", function() {disableN('f11','f12'); });
  document.getElementById("f13").addEventListener("change", function() {disableN('f13','f14'); });
  document.getElementById("f15").addEventListener("change", function() {disableN('f15','f16'); });
  document.addEventListener('DOMContentLoaded', function() {disableN('f3','f4'); });
  document.addEventListener('DOMContentLoaded', function() {disableN('f5','f6'); });
  document.addEventListener('DOMContentLoaded', function() {disableN('f7','f8'); });
  document.addEventListener('DOMContentLoaded', function() {disableN('f9','f10'); });
  document.addEventListener('DOMContentLoaded', function() {disableN('f11','f12'); });
  document.addEventListener('DOMContentLoaded', function() {disableN('f13','f14'); });
  document.addEventListener('DOMContentLoaded', function() {disableN('f15','f16'); });
  {% elif block == "PARTICLE_AGGREGATION" %}
  document.getElementById("f1").addEventListener("change", function() {tdisableN('f1','f2'); });
  document.addEventListener('DOMContentLoaded', function() {tdisableN('f1','f2'); });
  {% endif %}

{% endblock %}
