{% from "macros/forms.html" import render_form_field %}
{%extends "base.html" %} 
{%block content%} 

<div class="container-fluid">
    <h2>Profile panel</h2>

<div class="row">
    <div class="col-4">
    <div class="card">
        <div class="card-header bg-primary text-white">Add new profile</div>
        <div class="card-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                {{ render_form_field(field) }}
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Add profile">
            </form>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card">
        <div class="card-header bg-primary text-white">Profile list</div>
        <div class="card-body">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not active %}
                    <div class="alert alert-danger">
                        No active profile!
                    </div>
                    {% endif %}
                    {% if profiles|length == 0 %}
                    <div class="alert alert-danger">
                        No Profile Found. Add your first profile now!
                    </div>
                    {% else %}
                    {% for profile in profiles %}
                    {% if profile.id == active %}
                    <tr class="table-success">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{loop.index}}</td>
                        <td>{{profile.title}}</td>
                        <td>{{profile.description}}</td>
                        <td>
                            <div class="btn-group-vertical">
                            <a href="{{ url_for('profiles.load',id=profile.id) }}"   class="btn btn-success">Load</a>
                            <a href="{{ url_for('profiles.delete',id=profile.id) }}" class="btn btn-danger">Delete</a> 
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock %}

{%block scripts%} 
  document.querySelector('#menu-prof .nav-link').classList.add('active');
{% endblock %}
