{% macro render_form_field_label(field) %}
{% if field.label.text != 'None' %}
    {% if field.type == 'BooleanField' %}
    {{ field.label(class_="form-check-label") }}
    {% else %}
    {{ field.label(class_="form-label ms-3 me-1") }}
    {% endif %}
{%endif%}
{% endmacro %}

{% macro render_form_field_errors(field) %}
    {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
    {% endfor %}
{% endmacro %}

{% macro render_form_field_only(field, select = True) %}
    {% if field.type == 'BooleanField' %}
        {{ field(class_="form-check-input") }}
    {% elif field.type == 'SelectField' %}
        {% if select %}
        {{ field(class_="form-select") }}
        {%else%}
        {{ field }}
        {%endif%}
    {% else %}
        {{ field(class_="form-control") }}
        {{ render_form_field_errors(field) }}
    {% endif %}
{% endmacro %}

{% macro render_form_field(field, select=True) %}
    {% if field.type == 'BooleanField' %}
        <div class="form-check ms-3">
        {{ render_form_field_only(field) }}
        {{ render_form_field_label(field) }}
        </div>
    {% else %}
        {{ render_form_field_label(field) }}
        {{ render_form_field_only(field,select) }}
    {%endif%}
{% endmacro %}

{% macro render_form_fields(var,keys,form) %}
{% for key in keys %}
    {% set field = form[key] %}
    {% if loop.first %}
    {{ render_form_field_group(var,field) }}
    {% else %}
    {{ render_form_field(field) }}
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro render_form_field_group(var,field) %}
    {% if field.type == 'BooleanField' %}
        <div class="form-check ms-3">
        {{ render_form_field_only(field) }}
        <label class="form-check-label" for="{{field.id}}">{{var}}</label>
        </div>
    {%else%}
        <span class="input-group-text">{{var}}</span>
        {{ render_form_field_only(field) }}
    {% endif %}
{% endmacro %}
