{% from "macros/forms.html" import render_form_field %}
{%extends "base.html" %} 
{%block content%} 

<div class="row">
    <h2>Plot panel for profile</h2>

    <div class="col-4">
    <div class="card">
        <div class="card-header bg-primary text-white">Plot configuration</div>
        <div class="card-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="mb-3">
                {{ render_form_field(field) }}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value='Plot'>
            </form>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card">
        <div class="card-header bg-primary text-white">Plot view</div>
        <div class="card-body">
            {% if show_plot %}
            <div class="thumbnail">
                <img src="{{ url_for('static', filename='output.png') }}" alt="FALL3D output" style="width:100%">
            </div>
            {% else %}
            <p>No plot</p>
            {% endif %}
        </div>
    </div>
    </div>

</div>

<p> Debug: </p>
<ul>
{% for field in form %}
<li>{{ field.data }}</li>
{% endfor %}
</ul>

{% endblock %}

{%block scripts%} 
  document.querySelector('#menu-plot .nav-link').classList.add('active');
{% endblock %}
