{% from "macros/forms.html" import render_form_field %}
{%extends "base.html" %} 
{%block content%} 

<div class="row">
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Plot configuration</div>
    <div class="panel-body">
        <form class="form-horizontal" method="POST">
            <div class="form-container">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {{ render_form_field(field) }}
                {% endfor %}
                <div class="col-sm-offset-5 col-sm-3">
                <p><input type="submit" class="btn btn-default" value='Plot'></p>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Plot View</div>
    <div class="panel-body">
      {% if show_plot %}
      <div class="thumbnail">
      <img src="{{ url_for('static', filename='output.png') }}" alt="FALL3D output" style="width:100%">
      </div>
      {% else %}
      <p>No plot</p>
      {% endif %}
    </div>
  </div>
  </div>

</div>

<p> Debug: </p>
<ul>
{% for field in form %}
<li>{{ field.data }}</li>
{% endfor %}
</ul>

{% endblock %}

{%block scripts%} 
  document.getElementById("menu-plot").classList.add('active');
{% endblock %}
