{%extends "base.html" %} 
{%block content%} 

<div class="mt-4 p-5 bg-primary text-white rounded">
<h1>FALL3D webapp</h1> 
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
</div>
<div class='row mt-3'>
    <div class='col'>
        <h3>Profile panel</h3>
        <p>This is a simple Flask application with enhanced CSS styling. Explore and enjoy!</p>
    </div>
    <div class='col'>
        <h3>Configuration panel</h3>
        <p>This is a simple Flask application with enhanced CSS styling. Explore and enjoy!</p>
    </div>
</div>
<div class='row mt-3'>
    <div class='col'>
        <h3>Run panel</h3>
        <p>This is a simple Flask application with enhanced CSS styling. Explore and enjoy!</p>
    </div>
    <div class='col'>
        <h3>Plot panel</h3>
        <p>This is a simple Flask application with enhanced CSS styling. Explore and enjoy!</p>
    </div>
</div>

{% endblock %}

{%block scripts%} 
  document.querySelector('#menu-home .nav-link').classList.add('active');
{% endblock %}
