<p><i class="bi bi-list"></i> Menu</p>
<ul class="nav flex-column nav-pills">
  <li class="nav-item" id="menu-home"><a class = "nav-link" href="{{ url_for('main.index') }}" ><i class="bi bi-house-fill"></i> Home</a></li>
  <li class="nav-item" id="menu-prof"><a class = "nav-link" href="{{ url_for('profiles.index') }}" ><i class="bi bi-people-fill"></i> Profiles</a></li>
  <li class="nav-item" id="menu-conf"><a class = "nav-link" href="{{ url_for('configuration.index') }}"><i class="bi bi-gear-fill"></i> Configuration</a></li>
  <li class="nav-item" id="menu-run" ><a class = "nav-link" href="{{ url_for('run.index') }}" ><i class="bi bi-laptop-fill"></i> Run</a></li>
  <li class="nav-item" id="menu-plot"><a class = "nav-link" href="{{ url_for('plot.index') }}" ><i class="bi bi-images"></i> Plot</a></li>
</ul>

<hr class="bg-primary border-2 border-top border-secondary" />

<ul class="nav flex-column nav-pills">
  <li class="nav-item"><a class = "nav-link"
  href="https://fall3d-suite.gitlab.io/fall3d" ><i class="bi bi-file-earmark-text-fill"></i> User guide</a></li>
  <li class="nav-item"><a class = "nav-link"
  href="https://gitlab.com/fall3d-suite/fall3d" ><i class="bi bi-gitlab"></i> Code repository</a></li>
</ul>

<hr class="bg-primary border-2 border-top border-secondary" />

{% if session.get('profile') %}
<div class="alert alert-success">
  <strong>Active profile:</strong> {{session['profile']}}
</div>
{%else%}
<div class="alert alert-warning">
  <strong>No active profile!</strong>
</div>
{%endif%}

